*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body , html{
    width: 100%;
    height: 100%;
    background-color: #007BFF;
}

#loader img{
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 40%;
    width: 250px;
}

.hide{
    display: none;
}

#start{
    width: 200px;
    height: 60px;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 40%; 
    color: #007BFF;
}

.start-btn{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: white;
}

#container{
    width: 40%;
    height: 100%;
    border: 1px solid gray;
    margin: auto;
    background-color: white;
    margin-top: 30px;

}
#container h4{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid gray;
    width: 100%;
    height: auto;
    padding-top: 10px;
}

#options{
   font-size: 20px;
   padding: 10px 0 0 20px;
}
input{
    margin: 20px;
}

.timer{
    font-size: 30px;
    width: 50%;
    height: 50px;
    background-color: black;
    color: red;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
    text-align: center ;
}

.next-btn{
    width: 150px;
    height: 50px;
    font-size: 17px;
    color: #007BFF;
    margin-left: 50px;
}
.result{
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#restart{
    width: 150px;
    height: 50px;
    font-size: 17px;
    color: #007BFF;
}
